body {
	margin: 0px;
	background-color: #f5f5f5 !important;
	overflow-x: hidden;
}

footer {
	background-color: #ffffff;
	box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
	padding-top: 50px;
}

#footer-design {
	background: rgb(38,24,76);
	background: linear-gradient(0deg, rgba(38,24,76,1) 0%, rgba(238,58,133,1) 40%, rgba(255,255,255,1) 82%);
	padding-bottom: 10vh;
}


#login-btn{
	border: 1px solid black !important;
	margin: 5px;
	border-radius: 5px;
}

#logout-btn {
	border: 1px solid black !important;
	margin: 5px;
	border-radius: 5px;
}

#login-btn:hover {
	background-color: #ececec;
	color: black;
}

#hero-container {
	background: url('../Content/images/cover1.jpg')no-repeat center;
	background-size: cover;
	position: relative;
	box-shadow: 7px 7px 9px #b5b5b5;
	margin-bottom: 30px;
}

#hero-container__search{
	background-color: white;

}

#hero-container__search--div{
	margin: 30px;
}


.projects-card {
	transition: opacity .3s;
	height: 110%;
	min-height: 260px;
}

.projects-card:hover {
	opacity: 0.8;
}

.projects-card img{
	position: absolute;
	display: block;
	max-width: 100%;
	max-height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.projects-card .img-col{
	display: block;
	width: 100%;
	position: relative;
	height: 0;
	padding: 56.25% 0 0 0;
	overflow: hidden;
}

.projects-card h4 {
	word-break: break-all;
}
.topic-icon > img {
	height: 80px;
	margin-bottom: 30px;
	transition: transform .2s;
}

.topic-icon > img:hover {
	transform: scale(1.1);
}

.launchr-btn {
	background-color: #db3381 !important;
	color: white !important;
}

.launchr-btn:hover{
	background-color: #b02868 !important;
}

.login-box {
	background-color: white;
	/*box-shadow: 5px 5px 10px #ebebeb, -5px -5px 10px #ffffff;*/
	transition: .2s;
}

.login-box > p{
	margin-bottom: 0px !important;
	margin-top: 1em !important;
}

.login-bg {
	background: url('images/loginbg.gif');
	background-size: cover;
	padding-bottom:200px;
	filter: blur(30%);
	background-position: 30% 30%;
}

.project-photo{
	height: 400px;
}

.project-info {
	text-transform: capitalize;
}

.project-tab {
	transition: .2s;
}

.project-tab:hover {
	background-color: #f0b4cf;
}

.tier-card {
	border-radius: 3px;
	width:100%;
}

.project-details {
	padding: 1rem
}

.tier-no-reward{
	width:80% !important;
}

.project-photo-div{
	height:400px;
}

.project-photo-carousel {
	max-height: 100%;
	max-width: 100%;
}

#alertbox{
	width: 100%;
	z-index:999;
}

.project-card-details{
	font-size:1.2em;
}

.project-card-tray{
	display: table;
}

.project-card-tray > .col-xl-6 {
	display: table-cell;
}

.neumorph {
	background: #ffffff;
	box-shadow: 5px 5px 19px #ebebeb, -5px -5px 19px #ffffff;
}

.backer-status{
	padding: 5px;
	border-radius: 5px;
	color: blaCK;
	border: 1px solid black;
}

.profile-details-icon{
	height:1rem;
}

.comment-reply-pointer{
	border:none;
}

.comment-input-btn {
	background-color: white;
	border: none;
	color: black;
	transition: .2s;
	padding: 0px;
}

.comment-input-btn:hover {
	color: #db3381;
}

.to-creator{
	bottom:10px;
	right:10px;
	position: absolute;
	padding: 8px 10px 8px 10px;
}

.pleg {
	filter: blur(3px);
}

#tier-list{
	height: 80vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.assign-admin-btn{
	font-size: 0.9em !important;
}

.creator-approval-btn{
	width: 40px;
}

.summary-count{
	font-size: 5em;
	height: 100px;
	width: 100px;
}

.summary-count img{
	height: 60px;
	transition: transform .2s;
}

.summary-count img :hover {
	transform: scale(1.1);
}

.admin-navigation img{
	height: 100px;
	padding-bottom: 20px;
}

.search-card img{
	height: 200px;
	max-width:400px;
}

#search-result-display .search-card{
	display: none;
}

.creator-info{
	font-size: 1.5em;
}
